<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Connector.Properties.Settings>
            <setting name="DB" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="SYSPASS" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjName" serializeAs="String">
                <value />
            </setting>
            <setting name="C2DServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="C2DDataBaseName" serializeAs="String">
                <value>City2DayHotels</value>
            </setting>
            <setting name="C2DUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="C2DPassword" serializeAs="String">
                <value>saa</value>
            </setting>
            <setting name="C2DPartnerName" serializeAs="String">
                <value />
            </setting>
        </Connector.Properties.Settings>
    </userSettings>
</configuration>